.identificação {
    background-color: #DDA0DD;
}

.galeria {
    width: 35%;
}

body {

    background-color: pink;
    color: rgb(255, 100, 172);
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}

.Links {
    display: flex;
    flex-direction: column;
}

a{
    margin: 20px;
    padding: 20px;
    background-color: rgb(255, 100, 172);
    color: #ffffff;
    border-radius: 20px;

}